---
import { getEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("cv");
  return blogEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";

const { entry } = Astro.props;

const data = await getEntry(entry);
---

<Layout title="WebCV">
  <main class="max-w-4xl mx-auto my-16">
    <div class="mx-4 sm:mx-8 flex flex-col gap-4">
      <Header header={data.data.header} />
      <div class="flex flex-col gap-4">
        {
          data.data.sections.map((section: Section) => (
            <Section section={section} />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
