---
import ItemsCopy from "./Items.astro";

interface Props {
  items: (string | string[])[];
}

const { items } = Astro.props;
---

<ul class="ml-6">
  {
    items.map((item) =>
      Array.isArray(item) ? (
        <ItemsCopy items={item} />
      ) : (
        <li class="list-item list-disc">{<Fragment set:html={item} />}</li>
      ),
    )
  }
</ul>
