---
import Icon from "./Icon.astro";

interface Props {
  metas: Meta[];
}

const { metas } = Astro.props;
---

<div class="grid gap-x-2 grid-cols-1 sm:grid-cols-2">
  {
    metas.map((meta) => (
      <div class="flex items-center gap-1">
        <Icon name={meta.icon} size="1.2rem" />
        <span>
          {meta.name}
          {meta.link ? (
            <a href={meta.link} class="link">
              {meta.content}
            </a>
          ) : (
            meta.content
          )}
        </span>
      </div>
    ))
  }
</div>
