---
import Project from "./Project.astro";
import Table from "./Table.astro";

interface Props {
  section: Section;
}

const { section } = Astro.props;
---

<div class="flex flex-col gap-1">
  <h2 class="font-extrabold text-2xl uppercase font-ding text-[#007fff]">
    {section.title}
  </h2>
  <hr class="border-[#007fff]" />
  {
    section.projects && (
      <div class="flex flex-col gap-1">
        {section.projects.map((project) => (
          <Project project={project} />
        ))}
      </div>
    )
  }
  {section.table && <Table table={section.table} />}
</div>
