---
import Icon from "./Icon.astro";

interface Props {
  techs: Tech[];
  class?: string;
}

const { techs, class: className = "" } = Astro.props;
---

<div class:list={["flex flex-wrap gap-2"].concat(className.split(" "))}>
  {
    techs.map((tech) => (
      <div class="flex gap-0.5 items-baseline text-sm font-bold">
        {tech.icon && (
          <div>
            <Icon name={tech.icon} />
          </div>
        )}
        <span class="text-nowrap">{tech.name}</span>
      </div>
    ))
  }
</div>
